<!DOCTYPE html>
<html>
      {% include 'head.html' %}
      {% load static %}
      <style>
            body {
            background-color: #001F3F; /* Dark blue color */
              color: #000; /* White text color */
            }
            .background-image {
                  background-image: url('{% static "bg5.avif" %}');
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
            }
      </style>
      <body id="top"  class="container-fluid d-flex flex-column justify-content-center vh-100"   
      style= "background-image: url(/static/images/bg5.avif);
            background-size: cover;
            background-position: center;
            background-repeat: repeat;">
            {% include 'header.html' %}
            {% block content %}{% endblock %}
            {% include 'scripts.html' %} 
            {% block extra_scripts %} {% endblock %}
      </body>

</html>